{% extends "base.html" %}

{% block title %}Post Deployment{% endblock %}
{% block css %}
<style>
    .resizable-textarea {
        resize: none;
        overflow: hidden;
        width: 100%;
    }

    .content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .centerThis {
        display: flex;
        align-items: center;
    }
</style>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if server_type == 'onprem' %}
<div class="content">
    <h3>{{ heading }}</h3>
    <br>
    <h4>Application pods not in running state</h4>
    <textarea readonly id="textarea1" class="textarea" rows="5" cols="80" style="width: 100%;">{{ app_pods }}</textarea>

    <h4>System pods not in running state</h4>
    <textarea readonly id="textarea2" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea2')">{{ system_pods }}</textarea>

    <div class="centerThis">
        <h4>Check Postgres Promoted </h4>
        <p style="margin-top: 10px; margin-left: 20px;">(Postgres should not be promoted)</p>
    </div>
    <textarea readonly id="textarea3" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea3')">{{ postgres_promoted }}</textarea>


    <div class="centerThis">
        <h4>Check Postgres Replication </h4>
        <p style="margin-top: 10px; margin-left: 20px;">(Postgres Replication should be working)</p>
    </div>
    <textarea readonly id="textarea4" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea4')">{{ postgres_replication }}</textarea>


    <h4>Average Load on Kmaster server </h4>
    <textarea readonly id="textarea5" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea5')">{{ load_kmaster }}</textarea>

    <h4>Average Load on Knode1 server </h4>
    <textarea readonly id="textarea6" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea6')">{{ load_knode1 }}</textarea>

    <h4>Average Load on Knode2 server </h4>
    <textarea readonly id="textarea7" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea7')">{{ load_knode2 }}</textarea>

    <h4>Number of days to Kubernetes certificate expiry </h4>
    <textarea readonly id="textarea8" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea8')">{{ certificate_expiry }}</textarea>

    <div class="centerThis">
        <h4>NFS service status </h4>
        <p style="margin-top: 10px; margin-left: 20px;">(NFS should be mounted on Kmaster server and should be running)</p>
    </div>
    <textarea readonly id="textarea9" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea9')">{{ nfs_status }}</textarea>

    <script>
        function autoResize(textareaId) {
            var textarea = document.getElementById(textareaId);
            textarea.style.height = 'auto';
            textarea.style.height = (textarea.scrollHeight) + 'px';
        }

        // autoResize('textarea1');
        autoResize('textarea2');
        autoResize('textarea3');
        autoResize('textarea4');
        autoResize('textarea5');
        autoResize('textarea6');
        autoResize('textarea7');
        autoResize('textarea8');
        autoResize('textarea9');
    </script>

{% else %}

<div class="content">
    <h3>{{ heading }}</h3>
    <br>
    <h4>Application pods not in running state</h4>
    <textarea readonly id="textarea1" class="textarea" rows="5" cols="80" style="width: 100%;">{{ app_pods }}</textarea>

    <h4>System pods not in running state</h4>
    <textarea readonly id="textarea2" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea2')">{{ system_pods }}</textarea>

    <h4>Average Load on server </h4>
    <textarea readonly id="textarea3" class="resizable-textarea" rows="1" cols="80"
        oninput="autoResize('textarea3')">{{ load_average }}</textarea>

    <script>
        function autoResize(textareaId) {
            var textarea = document.getElementById(textareaId);
            textarea.style.height = 'auto';
            textarea.style.height = (textarea.scrollHeight) + 'px';
        }

        // autoResize('textarea1');
        autoResize('textarea2');
        autoResize('textarea3');
    </script>

{% endif %}

    <br>
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}