{% extends "base.html" %}

{% block title %}Pre Deployment{% endblock %}
{% block css %}
    <style>
        .resizable-textarea {
            resize: none; 
            overflow: hidden; 
            width: 100%;
        }
    
        .content {
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <div class="content">
        <h3>Pre Deployment Checks results</h3>
        <h3>Bots with tasks</h3> <p>No tasks should be present on bots</p>
        <textarea readonly id="textarea1" class="resizable-textarea" rows="1" cols="80" oninput="autoResize('textarea1')">{{ bot_tasks }}</textarea>

        <h3>Induct Status</h3> <p>All inducts should be stopped</p>
        <textarea readonly id="textarea2" class="resizable-textarea" rows="1" cols="80" oninput="autoResize('textarea2')">{{ induct_status }}</textarea>

        <h3>Wait Station Status</h3> <p>All wait stations should be stopped</p>
        <textarea readonly id="textarea3" class="resizable-textarea" rows="1" cols="80" oninput="autoResize('textarea3')">{{ ws_status }}</textarea>

        <script>
            function autoResize(textareaId) {
                var textarea = document.getElementById(textareaId);
                textarea.style.height = 'auto';
                textarea.style.height = (textarea.scrollHeight) + 'px';
            }

            autoResize('textarea1');
            autoResize('textarea2');
            autoResize('textarea3');
        </script>
        <br>
    </div>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}

